{
    "ALIGNER_ENGINE": "whisper",
    "ENABLE_VOCAL_SEPARATION": false,
    "VOCAL_MODEL": "mel_band_roformer_vocals.ckpt",
    "MODEL_DIR": "./models",
    "OUTPUT_DIR": "./LRC",
    "MODEL_SIZE": "large-v2",
    "LANGUAGE": "ja",
    "PROMPT": "这是一首日语歌曲，包含汉字和假名，有长音。",
    "OFFSET": 0,
    "CALIBRATION_THRESHOLD": 1.5,
    "RELEASE_VRAM": true,
    "THEME": "dark"
}